<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %} {% if error %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{ error }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <form class="text-center p-5" method="post" novalidate>
      {% csrf_token %}
      <p class="h4 mb-4">Login</p>
      <input
        type="text"
        class="form-control mb-4"
        placeholder="Username"
        name="username"
      />
      <input
        type="password"
        class="form-control mb-4"
        placeholder="Password"
        name="password"
      />
      <div class="d-flex justify-content-around">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="defaultLoginFormRemember"
          />
        </div>
      </div>
      <button class="btn btn-block btn-outline-dark" type="submit">
        Login
      </button>
    </form>

    {% endblock %}
  </body>
</html>
