<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <form method="POST" action="{% url 'filter_burn_down_charts_route' %}">
      {% csrf_token %}
      <div class="filter">
        <div class="row">
          <div class="col">
            <select class="browser-default custom-select mb-4" name="filter" onchange="this.form.submit()">
              {% for filter in filters %}
                  <option value="{{ filter.id }}" {% if filter.selected %}selected{% endif %}>
                      {{ filter.name }}
                  </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </form>
    <div class="charts" style="padding-top: 1rem;">
      <canvas id="burn-down-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
      // HTML decoder
      var decodeHTML = function (html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      };

      // Get the canvas for the burn down chart
      const burnDownChart = document
        .getElementById("burn-down-chart")
        .getContext("2d");

      // Get bar data
      let lineData = JSON.parse(
        decodeHTML("{{ lineData }}").replace(/'/g, '"')
      );

      // Create chart
      const boundaryLine = new Chart(burnDownChart, {
        type: "line",
        data: lineData,
        options: {
          title: {
            display: true,
          },
        },
      });
    </script>
    {% endblock %}
  </body>
</html>
