<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"
    />
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="finder" style="padding-top: 1rem;">
      <div class="row">
        <div class="col-10">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Filename or Username"
              aria-label="Filename or Username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Sort: <b>{{ sortedBy }}</b>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Newest</a>
                <a class="dropdown-item" href="#">Oldest</a>
                <a class="dropdown-item" href="#">Smallest</a>
                <a class="dropdown-item" href="#">Biggest</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <form
      method="POST"
      action="{% url 'upload_report_route' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input
        type="file"
        name="report"
        id="file"
        onchange="javascript:this.form.submit();"
        hidden
      />
      <label
        for="file"
        class="btn btn-success btn-lg btn-block"
        style="margin-top: 0.2rem;"
        >Upload Status Report</label
      >
    </form>
    {% endif %}
    <div class="reports" style="padding-top: 1rem;">
      <div class="row">
        {% for report in reports %}
        <div class="col-6" style="padding-top: 1rem;">
          <h4>{{ report.owner }}</h4>
          <div
            class="list-group"
            style="
              max-height: 325px;
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch;
            "
          >
            {% for file in report.files %}
            <li class="list-group-item" style="margin-top: 0.2rem;">
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <h5 class="mb-1">{{ file.name }}</h5>
                  <small>Created on {{ file.createdAt }}</small>
                </div>
                <div>
                  <a href="/reports/view/{{ file.name }}">
                    <button type="button" class="btn btn-outline-primary">
                      View
                    </button>
                  </a>
                  <a href="/reports/download/{{ file.name }}" download>
                    <button type="button" class="btn btn-outline-success">
                      Download
                    </button>
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
