<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"
    />
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="finder" style="padding-top: 1rem;">
      <div class="row">
        <div class="col-10">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Filename or Username"
              aria-label="Filename or Username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Sort: <b>{{ sortedBy }}</b>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Newest</a>
                <a class="dropdown-item" href="#">Oldest</a>
                <a class="dropdown-item" href="#">Smallest</a>
                <a class="dropdown-item" href="#">Biggest</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reports" style="padding-top: 1rem;">
      <div class="row">
        {% for user in users%}
        <div class="col-6" style="padding-top: 1rem;">
          <h4>{{ user.name }}</h4>
          <div
            class="list-group"
            style="
              max-height: 325px;
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch;
            "
          >
            {% for file in user.files %}
            <li class="list-group-item" style="margin-top: 0.2rem;">
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <h5 class="mb-1">{{ file.name }}</h5>
                  <small>Created on {{ file.createdAt }}</small>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    onclick="window.open('{{ file.viewUrl }}', '_self')"
                  >
                    View
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    onclick="window.open('{{ file.downloadUrl }}')"
                  >
                    Download
                  </button>
                </div>
              </div>
            </li>
            {% endfor %}
          </div>
          {% if user.is_authenticated %}
          <button
            type="button"
            class="btn btn-success btn-lg btn-block"
            style="margin-top: 0.2rem;"
            data-toggle="modal"
            data-target="#uploadModal"
          >
            Upload Status Report
          </button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="uploadModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/file-upload" class="dropzone" id="upload">
              <div class="fallback">
                <input name="file" type="file" multiple />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script>
      Dropzone.options.upload = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 10, // MB
        acceptedFiles: "application/pdf",
        accept: function (file, done) {
          done("File was uploaded!");
        },
      };
    </script>
    {% endblock %}
  </body>
</html>
