<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="charts" style="padding-top: 1rem;">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3>Throughput Chart</h3>
              <canvas id="throughput-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3>Burn Down Chart</h3>
              <canvas id="burn-down-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" style="padding-top: 1rem;">
      <h2>Latest Feature Collection</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">{{ feature.name }}</h5>
              <small>{{ feature.createdAt }}</small>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-primary"
                onclick="window.open('{{ feature.viewUrl }}')"
              >
                View
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                onclick="window.open('{{ feature.downloadUrl }}')"
              >
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="dod" style="padding-top: 1rem;">
      <h2>Latest Definition of Done</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">{{ dod.name }}</h5>
              <small>{{ dod.createdAt }}</small>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-primary"
                onclick="window.open('{{ dod.viewUrl }}')"
              >
                View
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                onclick="window.open('{{ dod.downloadUrl }}')"
              >
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="story" style="padding-top: 1rem;">
      <h2>Latest User Story</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">{{ story.name }}</h5>
              <small>{{ story.createdAt }}</small>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-primary"
                onclick="window.open('{{ story.viewUrl }}')"
              >
                View
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                onclick="window.open('{{ story.downloadUrl }}')"
              >
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="status" style="padding-top: 1rem;">
      <h2>Latest Status Report</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">{{ report.name }}</h5>
              <small>{{ report.createdAt }}</small>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-primary"
                onclick="window.open('{{ report.viewUrl }}')"
              >
                View
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                onclick="window.open('{{ report.downloadUrl }}')"
              >
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
      // HTML decoder
      var decodeHTML = function (html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      };

      // Get the canvas for the throughput chart
      const throughputChart = document
        .getElementById("throughput-chart")
        .getContext("2d");
      // Get the canvas for the burn down chart
      const burnDownChart = document
        .getElementById("burn-down-chart")
        .getContext("2d");

      // Get bar data
      let barData = JSON.parse(decodeHTML("{{ barData }}").replace(/'/g, '"'));
      let lineData = JSON.parse(
        decodeHTML("{{ lineData }}").replace(/'/g, '"')
      );

      const stackedBar = new Chart(throughputChart, {
        type: "bar",
        data: barData,
        options: {
          scales: {
            xAxes: [
              {
                stacked: true,
              },
            ],
            yAxes: [
              {
                stacked: true,
              },
            ],
          },
        },
      });

      const boundaryLine = new Chart(burnDownChart, {
        type: "line",
        data: lineData,
        options: {
          title: {
            display: true,
          },
        },
      });
    </script>
    {% endblock %}
  </body>
</html>
