<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="charts" style="padding-top: 1rem;">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3>Throughput Chart</h3>
              <canvas id="throughput-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3>Burn Down Chart</h3>
              <canvas id="burn-down-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature" style="padding-top: 1rem;">
      <h2>Latest Feature Collection</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">Filename</h5>
              <small>Created on 31/07/2020</small>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">
                View
              </button>
              <button type="button" class="btn btn-outline-success">
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="dod" style="padding-top: 1rem;">
      <h2>Latest Definition of Done</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">Filename</h5>
              <small>Created on 31/07/2020</small>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">
                View
              </button>
              <button type="button" class="btn btn-outline-success">
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="status" style="padding-top: 1rem;">
      <h2>Latest Status Report</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">Filename</h5>
              <small>Created on 31/07/2020</small>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">
                View
              </button>
              <button type="button" class="btn btn-outline-success">
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
      // Get the canvas for the throughput chart
      const throughputChart = document
        .getElementById("throughput-chart")
        .getContext("2d");
      // Get the canvas for the burn down chart
      const burnDownChart = document
        .getElementById("burn-down-chart")
        .getContext("2d");

      // Dummy Data for stacked Bar Chart
      let barData = {
        labels: ["25.07", "26.07", "27.07", "28.07", "29.07", "30.07", "31.07"],
        datasets: [
          {
            label: "Requirements",
            data: [1, 1, 1, 1, 1, 1, 1],
            backgroundColor: [
              "rgba(144, 249, 162, 0.5)",
              "rgba(144, 249, 162, 0.5)",
              "rgba(144, 249, 162, 0.5)",
              "rgba(144, 249, 162, 0.5)",
              "rgba(144, 249, 162, 0.5)",
              "rgba(144, 249, 162, 0.5)",
              "rgba(144, 249, 162, 0.5)",
            ],
            borderColor: [
              "rgba(144, 249, 162, 1)",
              "rgba(144, 249, 162, 1)",
              "rgba(144, 249, 162, 1)",
              "rgba(144, 249, 162, 1)",
              "rgba(144, 249, 162, 1)",
              "rgba(144, 249, 162, 1)",
              "rgba(144, 249, 162, 1)",
            ],
            borderWidth: 2,
          },
          {
            label: "Features",
            data: [1, 1, 1, 1, 1, 1, 1],
            backgroundColor: [
              "rgba(186, 5, 107, 0.5)",
              "rgba(186, 5, 107, 0.5)",
              "rgba(186, 5, 107, 0.5)",
              "rgba(186, 5, 107, 0.5)",
              "rgba(186, 5, 107, 0.5)",
              "rgba(186, 5, 107, 0.5)",
              "rgba(186, 5, 107, 0.5)",
            ],
            borderColor: [
              "rgba(186, 5, 107, 1)",
              "rgba(186, 5, 107, 1)",
              "rgba(186, 5, 107, 1)",
              "rgba(186, 5, 107, 1)",
              "rgba(186, 5, 107, 1)",
              "rgba(186, 5, 107, 1)",
              "rgba(186, 5, 107, 1)",
            ],
            borderWidth: 2,
          },
          {
            label: "Opportunities",
            data: [1, 1, 1, 1, 1, 1, 1],
            backgroundColor: [
              "rgba(89, 59, 165, 0.5)",
              "rgba(89, 59, 165, 0.5)",
              "rgba(89, 59, 165, 0.5)",
              "rgba(89, 59, 165, 0.5)",
              "rgba(89, 59, 165, 0.5)",
              "rgba(89, 59, 165, 0.5)",
              "rgba(89, 59, 165, 0.5)",
            ],
            borderColor: [
              "rgba(89, 59, 165, 1)",
              "rgba(89, 59, 165, 1)",
              "rgba(89, 59, 165, 1)",
              "rgba(89, 59, 165, 1)",
              "rgba(89, 59, 165, 1)",
              "rgba(89, 59, 165, 1)",
              "rgba(89, 59, 165, 1)",
            ],
            borderWidth: 2,
          },
          {
            label: "Enhancements",
            data: [1, 1, 1, 1, 1, 1, 1],
            backgroundColor: [
              "rgba(162, 238, 239, 0.5)",
              "rgba(162, 238, 239, 0.5)",
              "rgba(162, 238, 239, 0.5)",
              "rgba(162, 238, 239, 0.5)",
              "rgba(162, 238, 239, 0.5)",
              "rgba(162, 238, 239, 0.5)",
              "rgba(162, 238, 239, 0.5)",
            ],
            borderColor: [
              "rgba(162, 238, 239, 1)",
              "rgba(162, 238, 239, 1)",
              "rgba(162, 238, 239, 1)",
              "rgba(162, 238, 239, 1)",
              "rgba(162, 238, 239, 1)",
              "rgba(162, 238, 239, 1)",
              "rgba(162, 238, 239, 1)",
            ],
            borderWidth: 2,
          },
          {
            label: "Bugs",
            data: [1, 1, 1, 1, 1, 1, 1],
            backgroundColor: [
              "rgba(215, 58, 74, 0.5)",
              "rgba(215, 58, 74, 0.5)",
              "rgba(215, 58, 74, 0.5)",
              "rgba(215, 58, 74, 0.5)",
              "rgba(215, 58, 74, 0.5)",
              "rgba(215, 58, 74, 0.5)",
              "rgba(215, 58, 74, 0.5)",
            ],
            borderColor: [
              "rgba(215, 58, 74, 1)",
              "rgba(215, 58, 74, 1)",
              "rgba(215, 58, 74, 1)",
              "rgba(215, 58, 74, 1)",
              "rgba(215, 58, 74, 1)",
              "rgba(215, 58, 74, 1)",
              "rgba(215, 58, 74, 1)",
            ],
            borderWidth: 2,
          },
        ],
      };

      // Dummy Data for boundary line Chart
      let lineData = {
        labels: ["25.07", "26.07", "27.07", "28.07", "29.07", "30.07", "31.07"],
        datasets: [
          {
            label: "Actual time remaining",
            data: [6, 6, 5, 2, 1, 0, 0],
            backgroundColor: [
              "rgba(240, 52, 52, 0.5)",
              "rgba(240, 52, 52, 0.5)",
              "rgba(240, 52, 52, 0.5)",
              "rgba(240, 52, 52, 0.5)",
              "rgba(240, 52, 52, 0.5)",
              "rgba(240, 52, 52, 0.5)",
              "rgba(240, 52, 52, 0.5)",
            ],
            borderColor: [
              "rgba(240, 52, 52, 1)",
              "rgba(240, 52, 52, 1)",
              "rgba(240, 52, 52, 1)",
              "rgba(240, 52, 52, 1)",
              "rgba(240, 52, 52, 1)",
              "rgba(240, 52, 52, 1)",
              "rgba(240, 52, 52, 1)",
            ],
            borderWidth: 2,
          },
          {
            label: "Ideal time remaining",
            data: [6, 5, 4, 3, 2, 1, 0],
            backgroundColor: [
              "rgba(0, 230, 64, 0.5)",
              "rgba(0, 230, 64, 0.5)",
              "rgba(0, 230, 64, 0.5)",
              "rgba(0, 230, 64, 0.5)",
              "rgba(0, 230, 64, 0.5)",
              "rgba(0, 230, 64, 0.5)",
              "rgba(0, 230, 64, 0.5)",
            ],
            borderColor: [
              "rgba(0, 230, 64, 1)",
              "rgba(0, 230, 64, 1)",
              "rgba(0, 230, 64, 1)",
              "rgba(0, 230, 64, 1)",
              "rgba(0, 230, 64, 1)",
              "rgba(0, 230, 64, 1)",
              "rgba(0, 230, 64, 1)",
            ],
            borderWidth: 2,
          },
        ],
      };

      const stackedBar = new Chart(throughputChart, {
        type: "bar",
        data: barData,
        options: {
          scales: {
            xAxes: [
              {
                stacked: true,
              },
            ],
            yAxes: [
              {
                stacked: true,
              },
            ],
          },
        },
      });

      const boundaryLine = new Chart(burnDownChart, {
        type: "line",
        data: lineData,
        options: {
          title: {
            display: true,
          },
        },
      });
    </script>
    {% endblock %}
  </body>
</html>
