<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TASTIC - Engine</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %} {% endblock %}
    <div class="feature">
      <h2>Latest Feature Collection</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">Filename</h5>
              <small>Created on 31/07/2020</small>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">
                View
              </button>
              <button type="button" class="btn btn-outline-success">
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <p></p>
    <div class="dod">
      <h2>Latest Definition of Done</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">Filename</h5>
              <small>Created on 31/07/2020</small>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">
                View
              </button>
              <button type="button" class="btn btn-outline-success">
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
    <p></p>
    <div class="status">
      <h2>Latest Status Report</h2>
      <div class="list-group">
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">Filename</h5>
              <small>Created on 31/07/2020</small>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">
                View
              </button>
              <button type="button" class="btn btn-outline-success">
                Download
              </button>
            </div>
          </div>
        </li>
      </div>
    </div>
  </body>
</html>
