<!DOCTYPE html>
<html lang="en">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{%  url 'index_route' %}">
        <img
          src="https://avatars1.githubusercontent.com/u/55870326?v=4"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        SNEK
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Charts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a
                class="dropdown-item"
                href="{%  url 'throughput_charts_route' %}"
                >Throughput Charts</a
              >
              <a
                class="dropdown-item"
                href="{%  url 'burn_down_charts_route' %}"
                >Burn down Charts</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'features_route' %}">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'dods_route' %}">DODs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'user_stories_route' %}"
              >User Stories</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'status_reports_route' %}"
              >Status Reports</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'logout_route' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'login_route' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</html>
